<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    {# Variable for each page #}
    <title>{{title}}</title>
</head>
<body>
    <header>
        {# Use Jinja template navbar.html to create a navigation bar #}
        {% include "navbar.html"  %}
    </header>

{# Displays flashed messages on a page #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <main>
        <div class="container">
            {# Define an area thst will bedefined for each page #}
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer>

    </footer>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" defer></script>
</body>
</html>