{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <form method="POST" action="{{ url_for("auth.signup") }}">
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name() }} <br>
        {{ form.last_name.label }} {{ form.last_name() }} <br>
        {{ form.email.label }} {{ form.email() }} <br>
        {{ form.password.label }} {{ form.password() }} <br>
        {{ form.password_repeat.label }} {{ form.password_repeat() }} <br>
        <p class="lead"><button type="submit" class="btn btn-primary">Sign up</button></p>
    </form>
    {# Display the form validation errors #}
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
    {% endfor %}
{% endblock %}

{# make errors display #}